NEXT_PUBLIC_DATABASE_URL=""
BETTER_AUTH_SECRET=""
NEXT_PUBLIC_BETTER_AUTH_URL="" # Base URL of your app
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_AUTH_PROXY_ENABLED=""
NEXT_PUBLIC_EMAIL_FROM=""
NEXT_PUBLIC_RESEND_API_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""